@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body {
    min-height: 100vh;
    width: 100vw;
    background-color: #34495e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
    font-family: 'Raleway', sans-serif;
}

.App{
    text-align: center;
}

.App-link{
    color: #8be3fb;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.h1Style{
    background-color: aliceblue;
    border-radius: 25px;
    color: navy;
    padding: 10px;
}