@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MuseoModerno', cursive;
}
a{
    color: #61dafb;
}

a.active{
    color: #fff;
    border-bottom:1px solid red;
}

.menu_style{
    width: 100%;
    line-height: 60px;
    background-color: #20232a;
    display: flex;
    justify-content: space-around;
}

.searchbar{
    width: 50%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.searchbar input{
    margin: 30px 0;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: 'Source Code Pro', monospace;
}

